/* .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6px 14px !important;
    font-size: 12px !important;
}
.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 6px 14px !important;
    font-size: 12px !important;
    height: inherit !important;
}
.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 8px !important;
}
.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 8px !important;
}
.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root{
    font-size: 12px !important;
} */

.isShowInColumn {
  justify-content: flex-start;
  text-align: left !important;
}
