.formStyle{
    width: 66.66%;
     display:flex;
     justify-content:space-between;
     flex-direction:column;
}

.imageWrapper{
    width: 237px;
    margin:0 auto;
    height: 200px;
    background: blue;
}

.buttonWrapper{
    margin: 0 auto;
}

.dummyText{
    opacity: 0;
}