.custom-textfield .MuiOutlinedInput-root {
    height: 34px;
    border-radius: 8px;
  }
.inquiry.sp .custom-textfield .MuiOutlinedInput-root {
  height: 25px !important;
  border-radius: 5px !important;
}
  .custom-textfield .MuiOutlinedInput-root fieldset {
    border-color: #d9d9d9; 
  }
  
  .custom-textfield .MuiOutlinedInput-root:hover fieldset {
    border-color: #d9d9d9; 
  }
  
  .custom-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #d9d9d9 !important; 
  }
  
  .custom-textfield .MuiOutlinedInput-input {
    padding: 8px 12px;
    font-size: 12px;
  }
  
  .custom-textfield .MuiOutlinedInput-input::placeholder {
    font-size: 12px;
    color: #3e3e3e;
  }