.buttonStyle{
    background-color: #3F97D5 !important;
    font-size: 14px !important;
    height: 38px;
    padding: 12px !important;
    border-radius: 8px !important;
}
.buttonStyle.cellButton{
    height: 32px;
    font-size: 12px !important;
}
.buttonStyle.cellButton.disabled{
    background-color: #989898 !important;
    pointer-events: none;
    cursor: inherit;
}
.buttonStyle.cellButton.sendMailBtn{
    background-color: #fff !important;
    color: #3F97D5;
    border: 1px solid #3F97D5;
    box-shadow: inherit !important;
}

.buttonStyle.disabled{
    background-color: #989898 !important;
    pointer-events: none;
    cursor: inherit;
}
.buttonStyle.cancel{
	background-color: #989898 !important;
}

.buttonStyle.changePasswordBtn {
    height: 34px;
}

.buttonStyle.delete.active{
    background-color: #DA384C !important;
}

.buttonStyle.delete.disabled{
    background-color: #989898 !important;
    pointer-events: none;
}
.buttonStyle.admin{
    background: blue;
}